body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/905/994/non_2x/starry-purple-night-sky-star-illustration-for-universe-space-astronomy-education-or-background-graphic-element-vector.jpg");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover; 
  background-attachment: fixed; 
}

p {
  color: black;
}

a{
  color: #b291e9;
  font-family: Garamond;
}

.box {
  align-self: auto;
  padding: 10px;
  margin: 50px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 67px;
}
  
  
.subBox1{
  align-self: center;
  padding: 40px;
  margin: 50px;
  margin-left: 150px;
  margin-right: 10px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 67px;
}

.subBox2{
  align-self: center;
  padding: 40px;
  margin: 50px;
  margin-left: 10px;
  margin-right: 150px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 67px;
}

h1{
  font-weight: bold;
  font-family: Garamond;
  font-size: 100px;
  color: #b291e9;  
  text-align: center;
  opacity: 100%
}

h2{
  font-weight: bold;
  font-family: Garamond;
  font-size: 75px;
  color: #b291e9;  
  text-align: center;
  opacity: 100%
}

h3{
  font-weight: bold;
  font-family: Garamond;
  font-size: 45px;
  color: #b291e9;  
  text-align: center;
  opacity: 100%
}

h4{
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  color: aliceblue;  
  text-align: left;
  opacity: 100%

